*{margin: 0;padding: 0;box-sizing: border-box;
}
a{display: block;}
img{display: block;}
.hidden{display:none;}
div table{
	font-size: 14px;
}

input {
	padding: 3px;
}
ul {
	/*padding: 20px 0;*/
}
ul li{
	float: left;
	list-style: none;
}
ul li a:after{content: "|";padding: 0 10px;}
ul li:last-child a::after{content: " ";}


h1 {
	padding:20px 0;
}

.input {
	padding: 20px 0;
}


table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}



td, th {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04AA6D;
	color: white;
}

.messages {
	text-align: center;
}
